<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<%= require('./template/header.ejs')() %>
主页设计开发
<span class="icon"></span>
<img src="public/user.png" alt="">
<img src="public/user.png" alt="">
</body>
</html>